.login-form-div{
    padding: 7px;
}
.login-form-control{
    margin-bottom: 5px;
}

.footer-color{
    background-color: #e7e7e7;
}

.push-down {
    margin-top: 120px;
}
.pull-down{
    margin-bottom: 5px;
}
.btn-size {
    padding: 7px 70px;
    font-size: 14px;
    line-height: normal;
    }

